body {
	font-family: 'Lato', sans-serif;
	display: inline flex;
	justify-content: center;
	text-align: center;
	font-family: 'Alfa Slab One', cursive;
	margin-left: -5px;
	margin-right: -5px;

}

h1{
	padding-top: 50px;
}

h3{
	color: white;
}
p{
	color: black;
}



header{
	background-image: url('https://i.imgur.com/S6gMiC4.jpg?1');
	background-size: cover;
	height: 105px;
	width: 100%;
	background-repeat: no-repeat;
   margin-top: -25px;
   padding-bottom: 35px; 
	color: #f9a602;}


#quiz {
	
	background: rgba(0,100,155,.4);
	padding: 
	width: 50px;
	border-radius: 2px;
	display: inline flex;
	justify-content: center;
	color: black;
	margin-right: 30%;
	margin-left: 30%;
	color: pink;

}

input {
	margin-bottom: 20px;
	display: block;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border: solid white 2px;
	
}


.button {
	background: pink;
	border-radius: 2px;
	padding: 10px;
	color: black;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
	font-family: 'Teko', sans-serif;
	margin-left: 40%;
	width: 20%;
	border: none;
}



.button:hover {
	background: red;
	color: black;
	cursor: pointer;

}

#after_submit {
	visibility: hidden;
	


}

.background{
	background-image: url('https://i.imgur.com/DbkungV.jpg');
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	padding-bottom: 150px;
	padding-top: 25px;
}




#mc {
	display: inline;
	cursor: pointer;
}


#modal, #modal1, #modal2, #modal3, #modal4, #modal5, #modal6, #modal7 {
 background-color: rgba(0,0,0,0.4);
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;	
 overflow: auto;
 display: none;
}
.modal-textbox1, #modal-textbox2, #modal-textbox3, #modal-textbox4{
	background: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

