header{

	background-image: url('https://i.imgur.com/S6gMiC4.jpg?1');
	background-size: cover;
	height: 105px;
	width: 100%;
	background-repeat: no-repeat;
   margin-top: -25px;
   padding-bottom: 35px; 
	color: #f9a602;
	font-family: 'Alfa Slab One', cursive;
	text-align: center;

}



#background{
	background-image: url("https://i.imgur.com/DbkungV.jpg");
	background-size: cover;
	background-position: center;
	height: 30%;
	width: 100%;
	background-repeat: no-repeat;
	padding-bottom: 100%;
	padding-top: 25px;

	
}

a{
	text-decoration: none;
	color: white;
	font-size: 200%;
	font-family: 'Alfa Slab One', cursive;
	display: flex;
	justify-content: center
}

a:hover{
    text-decoration:underline;
}

h1{
	padding-top: 50px;
}

body{

	margin-left: -5px;
	margin-right: -5px;
}


table{
	background-color: rgba(255,255,255,.3);
	/*display: flex;
	justify-content: center;*/
	margin-left: 31%;
	width: 40%;
	margin-right: 31%;
	justify-content: center;
	font-family: 'Alfa Slab One', cursive;

}

button{
	display: flex;
	justify-content: center;
	margin-left: 35%;
	width: 30%;
	padding: 15px;
	border: none;
	border-radius: 3px;
	margin-top: 2%;
	cursor: pointer;
	font-family: 'Alfa Slab One', cursive;
	color: #f9a602;
	font-size: 85%;
}

nav{
	text-align: center;
	
}
.lnk{
	color: #f9a602;
	display: inline;
	font-size: 100%;
	padding: 0;
	margin: 0;

}

#weatherTable_length, #weatherTable_filter, #weatherTable_info, #weatherTable_paginate{
	display: none;
}
#sun {
	width: 7%;
	height: 7%;
	margin-left: 46%;
	display: flex;
	justify-content: center;
	padding: 5px;
}

h2{
	font-family: 'Alfa Slab One', cursive;
	font-size: 25px;
	text-align: center;

	padding-top: 25px;
}
